<div class="flex items-center justify-center gap-4">
  <img
    class="w-20 h-30 rounded-full"
    src="../../../assets/images/avatarimage.png"
    alt=""
  />
  <div class="font-semibold dark:text-white mt-[1rem]">
    <div class="text-xl">Juan</div>
    <div class="text-sm text-gray-500 dark:text-gray-400">
      Pentester & Full Stack Developer
    </div>
  </div>
</div>
<br />

<p class="mb-3 text-gray-500 dark:text-gray-400">
  Hello, my name is Juan, and I am from Seville, Spain. I have a background in
  software development, and after three years of working as a full-stack
  developer, I became intrigued by the field of cybersecurity in 2023. Since
  then, I have been honing my skills on platforms such as HackTheBox, TryHackMe,
  and VulnHub. I obtained the eJPTv2 INE certification in May 2023, and by the
  end of 2023, I also achieved the eCPPTv2 certification.
</p>
<p class="text-gray-500 dark:text-gray-400">
  Currently, I am actively preparing for the Certified Ethical Hacker (C|EH)
  certification by Eccouncil. Additionally, I am simultaneously engaging in
  practical exercises resembling those encountered in the OSCP (Offensive
  Security Certified Professional) certification.
</p>
