<app-load-image> </app-load-image>

<div
  style="position: relative"
  class="flex flex-col justify-center items-center h-screen"
>
  <div
    class="w-full max-w-4xl mx-auto bg-[#232938] bg-opacity-75 border border-gray-600 rounded-lg p-4 relative"
  >
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <svg-terminal></svg-terminal>
      </div>
      <div class="text-gray-300">
        <span class="font-semibold">{{ user }}:~</span>
      </div>
      <div class="flex items-center space-x-2">
        <svg-minus></svg-minus>
        <svg-square></svg-square>
        <svg-x></svg-x>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div class="flex space-x-2 justify-end mt-1">
        <button
          class="font-bold text-sm text-gray-300 bg-transparent hover:bg-gray-700 hover:text-white py-1 px-2 rounded"
        >
          File
        </button>
        <button
          class="font-bold text-sm text-gray-300 bg-transparent hover:bg-gray-700 hover:text-white py-1 px-2 rounded"
        >
          Actions
        </button>
        <button
          class="font-bold text-sm text-gray-300 bg-transparent hover:bg-gray-700 hover:text-white py-1 px-2 rounded"
        >
          Edit
        </button>
        <button
          class="font-bold text-sm text-gray-300 bg-transparent hover:bg-gray-700 hover:text-white py-1 px-2 rounded"
        >
          View
        </button>
        <button
          class="font-bold text-sm text-gray-300 bg-transparent hover:bg-gray-700 hover:text-white py-1 px-2 rounded"
        >
          Help
        </button>
      </div>
    </div>
    <div class="mt-2 text-gray-300 h-[400px]">
      <app-cmd-input [user]="user"></app-cmd-input>
    </div>
  </div>
</div>
