<div class="max-w-full max-h-[400px] min-w-[200px] overflow-x-auto">
  <div class="text-gray-300" *ngFor="let cmdResult of cmdHistory">
    <span class="text-red-800 font-semibold">{{ user }}:</span>
    <span class="text-blue-400 font-semibold">~</span>
    <span class="text-white-400 font-semibold">$ </span>
    <span>{{ cmdResult.command }}</span> <br />
    <ng-container *ngComponentOutlet="cmdResult.component"></ng-container>
  </div>

  <div class="text-gray-300">
    <span class="text-red-800 font-semibold">{{ user }}:</span>
    <span class="text-blue-400 font-semibold">~</span>
    <span class="text-white-400 font-semibold">$ </span>
    <input
      id="inputCmd"
      type="text"
      [(ngModel)]="inputCmd"
      class="text-white-400 bg-transparent border-none outline-none w-5/6"
      autofocus
      (keyup.enter)="executeCmd()"
      placeholder="Try ls to list all the available commands."
    />
  </div>
</div>
